<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327674171124-217qug376p99513vou1ut2ehaqsfb107.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327674171124-217qug376p99513vou1ut2ehaqsfb107</string>
	<key>API_KEY</key>
	<string>AIzaSyC3z4gVOzhGaT_fsW2_1I3k6idg_NI-2AQ</string>
	<key>GCM_SENDER_ID</key>
	<string>327674171124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.popo.leafy-paw-delivery</string>
	<key>PROJECT_ID</key>
	<string>leafypawdelivery</string>
	<key>STORAGE_BUCKET</key>
	<string>leafypawdelivery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327674171124:ios:7a7a60999bb94649f318a1</string>
	<key>DATABASE_URL</key>
	<string>https://leafypawdelivery-default-rtdb.firebaseio.com</string>
</dict>
</plist>